.individualGameMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  color: aliceblue;
}

.mainImage {
  grid-column: span 2 / span 2;
}

.gameNameTitle {
  font-size: x-large;
  font-weight: bold;
}

.gameDescription {
  color: aliceblue;
  padding-top: 10px;
}

.gameDescriptionTitle {
  font-size: large;
}

.priceCard {
  padding-top: 10px;
  padding-bottom: 30px;
}

.addToCart {
  display: block;
  cursor: pointer;
  border: none;
  background-color: grey;
  color: aliceblue;
  font-weight: bold;
  width: 5rem;
}

.addToCart:hover {
  background-color: #8a2be2;
}

/* display: block;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  border: none;
  background-color: grey;
  color: aliceblue;
  font-weight: bold;
  width: 100%;
  height: 30px;
  overflow: hidden; */
