.mainGame {
  padding: 0px 250px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  .mainGame {
    grid-template-columns: repeat(3, 1fr);
  }
}

.frontImage {
  height: 250px;
  width: 100%;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

.addToCart {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  border: none;
  background-color: grey;
  color: aliceblue;
  font-weight: bold;
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.addToCart:hover {
  background-color: #8a2be2;
}
