.cardDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.mainGame {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.addToCart {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  border: none;
  background-color: grey;
  color: aliceblue;
  font-weight: bold;
  width: 95%;
  height: 30px;
}

.addToCart:hover {
  background-color: #8a2be2;
}
