.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #222831;
}

.main {
  padding-right: 9px;
  padding-left: 9px;
  margin-right: auto;
  margin-left: auto;
}

.globalStuff {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}
