.container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  background-color: #141010;
}

.textHome {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  padding: 2rem 16px;
}

.textHome:hover {
  color: #8a2be2;
}

.textRight {
  display: flex;
  align-items: center;
}

.menuContainer {
  display: flex;
  align-items: center;
}

.textCart {
  font-size: large;
  padding-right: 30px;
}

.textCart:hover {
  color: #8a2be2;
}

.textSignIn {
  font-size: large;

  padding-right: 16px;
}

.cart {
  margin-left: 4px;
  border-radius: 9999px;
  background-color: lightblue;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1rem;
  font-weight: bold;
}

.dropdown {
  display: inline;
  position: relative;
}

.dropdownBtn {
  border: red;
  color: aliceblue;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  cursor: pointer;
  padding: 4px 8px;
}

.dropdownBtn:hover {
  color: #8a2be2;
}

.dropdownContent {
  position: absolute;
  right: 0px;
  width: 100px;
  transform-origin: top right;
  background: #222831;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: aliceblue;
}

.dropdownLink {
  display: flex;
  padding: 2px;
}

.dropdownLink:hover {
  background: #8a2be2;
}

@media (max-width: 768px) {
  .textRight {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
  }

  .menuContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .textCart,
  .textSignIn {
    padding-right: 0;
    margin-bottom: 1rem;
  }
}
