.background {
  display: flex;
  height: 6rem;
  justify-content: space-between;
  background-color: #141010;
}

.textHome {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  padding: 2rem 16px;
}

.textRight {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 2rem 16px;
}

.textCart {
  padding-right: 30px;
}

.textSignIn {
  padding-right: 16px;
}

.cart {
  margin-left: 4px;
  border-radius: 9999px;
  background-color: #7cb9e8;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1rem;
  font-weight: bold;
}
